@font-face {
        font-family: Ustroke Regular;
        src: "{% static 'linkcut/19849.ttf' %}";
}

body {
    font-family: Ustroke Regular;
}

.footer {
    background-color: #902e2e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form__button, .button {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border-color: white;
    text-decoration: none;
    font-family: Ustroke Regular;
    border: 2px solid grey;
}

a {
    text-decoration: none;
}

.form {
    margin-top: 20%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10px;
    padding: 2%
}

.helptext {
    font-size: 12px;
    color: #969696;
}

label {
    color: #969696;
}