{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'linkcut/style.css' %}">
</head>
<body>
    <footer class="footer">

        <img src="{% static 'linkcut/footer.png' %}" alt="{{ title }}" width="100px" height="100px">

        <div class="span__button">
            <a href="{% url 'home' %}" class="button">Главная</a>
            <a href="{% url 'about' %}" class="button">О нас</a>
            <a href="" class="button">Регистрация</a>
        </div>
    </footer>
    {% block main %}
    {% endblock %}
</body>
</html>